{% include "base.html" %}
{% include "header.html" %}

{% block content %}
    <style>
       td {
           padding: 5px 10px 5px 5px;
       }
    </style>

    <div>
        <center>
            We are a guild on Crushridge pushing mythic BFA content. Feel free to inquire with an officer:
            <br>
            <h2>Officers:</h2>
            <table>
                <tr><td>GM</td><td>Blaineschar-Crushridge</td><td>Blaine</td></tr>
                <tr><td>Raid Leader</td><td>Nemesis-Crushridge / Dahliadied-Crushridge</td><td>Hodgy</td></tr>
                <tr><td>Raid Leader</td><td>Arinora-Anub'arak / Nexia-Anub'arak</td><td>Zel</td></tr>
                <tr><td>Raid Leader</td><td>Bano-Smolderthorn</td><td>Bano</td></tr>
            </table>
        </center>
    </div>
    <div>
        <center>        
            <h2>Current Raid Schedule:</h2>
            *times may change
            <table>
            <tr><td>Tuesay</td><td>7pm CST (server)</td><td>Mythic Uldir (progression)</td></tr>
            <tr><td>Thursday</td><td>7pm CST (server)</td><td>Heroic Uldir (Full Clear)</td></tr>
            <tr><td>Friday</td><td>7pm CST (server)</td><td>Mythic+ Day</td></tr>
            <tr><td>Sunday</td><td>7pm CST (server)</td><td>Whatevers Left</td></tr>
{% endblock %}
