{% include "base.html" %}
{% include "header.html" %}

<div class="container">
    <div class="row">
    {% for item in items %}
        <div class="col border rounded border-white {% if not loop.last %} mr-3 {% endif %} mb-3">
            <h2 class="text-uppercase text-center">{{ item.title }}</h2>
        </div>
    {% endfor %}
    </div>

    <div class="row">
    {% for item in items %}
        <div class="col border rounded border-white {% if not loop.last %} mr-3 {% endif %} mb-3">
            {% if item.content is iterable and item.content is not string %}
                {% for content in item.content %}
                    <p class="mb-1">{{ content }} </p>
                {% endfor %}
            {% else %}
                {{ item.content }}
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>

{% include "footer.html" %}
